<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shopping.india" version="0.1.0">
  <name>shopping-india</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="paroha.vaibhav@gmail.com">
    Vaibhav Paroha
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
